.fifa {
    text-align: center;
    transition: all .5s ease-in-out;
  }

  .fifa-text {
    font-family: 'Abel', sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #fff;
  }

  .fifa-btn {
    border-radius: 20px;
    background: #fff;
    color: #111;
    padding: 8px 28px;
  }
  .fifa:hover { 
      transform: scale(1.1);
     }