.post {
    padding: 3rem;
    box-shadow: 0px 1px 2px rgba(46,41,51,0.08), 0px 2px 4px rgba(71,63,79,0.08);
    background: #ffffff;
    border-radius: 4px;
    border: 0;
    margin-bottom: 1.5rem;
    transform: translateY(0px);
    transition: .5s;
    border-top: 1px solid #ddd;
    float: left;
    padding: 20px 0;
    width: 100%;
     
}
.post-img {
    background: #000;
    line-height: 0;
    margin-right: 3.11041990669%;
    overflow: hidden;
    width: 34.2146189736%;
    float: left;
    position: relative;
}
.post-text {
    width: 62.6749611198%;
    background-color: white;
    float: left;
    position: relative;
    line-height: 1.6em;
}

.post:hover {
    transform: translateY(-5px);
    transition: .5s;
}

.post a {
    font-weight: bold;
    font-size: 1.51572rem;
    line-height: 1.25;
    margin-bottom: 1.5rem;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .post a:hover {
    text-decoration: underline;
  }
  
  .posta:active {
    color: #2a2a72;
  }
  
  .post a:visited {
    color: #2a2a72;
  }
@media (min-width: 320px) and (max-width: 480px) {
    .post-text {
        display: none;
    }
    .post h3 {
        margin: 0;
    }
    .post a {
        font-size: 16px;
        text-transform: capitalize !important;
    }
  }