.thumbnail {
    position: relative;
    transform: translateY(0px);
    transition: .5s;
}
.thumbnail:hover { 
    transform: translateY(-5px);
    transition: .5s;
}
.thumbnail-text {
    color: #ffffff;
    font-weight: 700;
    position: absolute;
    bottom: 20px;
    left: 16px;
    text-transform: uppercase;
    text-decoration: none;
}
.thumbnail-tag {
    position: absolute;
    top: 8px;
    left: 16px;
    color: #fff;
    display: inline-block;
    padding: 0 1em;
    line-height: 2;
    font-size: .625rem;
    font-family: Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #2a2a72;
    text-decoration: none;
}