.top-stories h1 {
    font-family: 'Abel', sans-serif;
    font-size:42px;
  }
  
  .top-stories {
    width: 90%;
    margin: 0 auto;
  }
  .top-stories-content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
  }
  .element {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    
  }
  